/* CSS Document */

#leftboxcontent {
	min-height:373px;
}

#topboxcontent {
	min-height:198px;
}

#botboxcontent {
	min-height:113px;
}

#zonegroupboxcontent {
	min-height:330px;
}

#zonegrouptitle {
	min-height:59px;
}

.rect8pxboxwtitle h1 {
	top:13px;
	white-space:nowrap;
}

#globalzonecontrols .tablecontent {
	min-height:96px;
}